:root {
  --width: 100px;
}

body {
  align-content: center;
  animation-name: background;
  animation-duration: 20s;
  background-color: #90caf9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  top: 50px;
  left: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  width: 10vw;
}

.weather-container {
  animation: bubble-y 20s linear infinite alternate;
  -webkit-animation: bubble-y 20s linear infinite alternate;
}

.weather-bubble {
  animation: bubble-x 13s linear infinite alternate; 
  -webkit-animation: bubble-x 13s linear infinite alternate;
  align-items: center;
  background: radial-gradient(circle at 30px 50px, #d3f5d5, #8df295);
  border-radius: 50%;
  display: flex;
  height: var(--width);
  justify-content: center;
  margin: 2%;
  padding: 2%;
  /* position: absolute; */
  text-align: center;
  transition: transform 1s;
  width: var(--width);
}

.weather-bubble:hover {
  transform: scale(1.5);
  animation-play-state: paused;
}

.pal-container {
  animation: bubble-y 20s linear infinite alternate;
  -webkit-animation: bubble-y 20s linear infinite alternate;
}

.pal-bubble {
  animation: bubble-x 13s linear infinite alternate; 
  -webkit-animation: bubble-x 13s linear infinite alternate;
  align-items: center;
  background: radial-gradient(circle at 30px 50px, #e9b5f5, #e494f7);
  border-radius: 50%;
  display: flex;
  height: var(--width);
  justify-content: center;
  margin: 2%;
  padding: 2%;
  text-align: center;
  transition: transform 1s;
  width: var(--width);
}

.pal-bubble:hover {
  transform: scale(1.5);
  animation-play-state: paused;
}

.ruby-container {
  animation: bubble-y 20s linear infinite alternate;
  -webkit-animation: bubble-y 20s linear infinite alternate;
}

.ruby-bubble {
  animation: bubble-x 13s linear infinite alternate; 
  -webkit-animation: bubble-x 13s linear infinite alternate;
  align-items: center;
  background: radial-gradient(circle at 30px 50px, #f7dcdc, #f58556);
  background-color: #f58556;
  border-radius: 50%;
  display: flex;
  height: var(--width);
  justify-content: center;
  margin: 2%;
  padding: 2%;
  text-align: center;
  transition: transform 1s;
  width: var(--width);
}

.ruby-bubble:hover {
  transform: scale(1.5);
  animation-play-state: paused;
}

.name {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .name {
    animation: name-spin 1 5s linear;
  }
}

@keyframes name-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes name-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes background {
  0%   {background-color: #0d47a1;}
  25%  {background-color: #0288d1;}
  50%  {background-color: #29b6f6;}
  100% {background-color: #90caf9;}
}

@-webkit-keyframes background {
  0%   {background-color: #0d47a1;}
  25%  {background-color: #0288d1;}
  50%  {background-color: #29b6f6;}
  100% {background-color: #90caf9;}
}

@keyframes bubble-y {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@-webkit-keyframes bubble-y {
  100% {
    transform: translateY(calc(100vh - var(--width)));
  }
}

@keyframes bubble-x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}

@-webkit-keyframes bubble-x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}

