body {
  align-content: center;
  animation-name: background;
  /* animation-delay: 2s; */
  animation-duration: 20s;
  background-color: #90caf9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

h1 {
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  top: 50px;
  left: 50px;
}

.container {
  /* display: flex; */
  /* flex-direction: column;
  align-items: flex-end; */
  height: 100vh;
  width: 100vw;
}

/* LEFT OFF HERE - BUBBLE 2 DOESN'T HAVE SECONDARY SHADING AND STAGE2 ONLY MOVING ON X AXIS and bubble2 only moving on y*/
.link-bubble {
  animation: bubble-anim 2s ease-out infinite, bubble-linear 20s linear infinite alternate;
  align-items: center;
  background: radial-gradient(circle at 30px 50px, #29b6f6, #0d47a1);
  background-color: #0d47a1;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 120px;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.link-bubble2 {
  animation: bubble-anim 2s ease-out infinite, bubble2-linear 20s linear infinite alternate;
  align-items: center;
  background: radial-gradient(circle at 30px 50px, #29b6f6, #0d47a1);
  background-color: #0d47a1;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 120px;
  justify-content: center;
  margin: 2%;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.name {
  height: 40vmin;
  pointer-events: none;
}

.stage1 {
  animation: stage-linear 20s linear infinite alternate;
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}

/* LEFT OFF HERE - BUBBLES WONT STAY IN VIEWPORT AND RUBY LOST ITS SHINY */
.stage2 {
  animation: stage2-linear 20s linear infinite alternate;
  width: 120px;
  height: 120px;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}

.link-bubble .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

.link-bubble:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .name {
    animation: name-spin 1 5s linear;
  }
}

@keyframes name-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* TODO: add more percent transitions for smoother gradient */
@keyframes background {
  0%   {background-color: #0d47a1;}
  25%  {background-color: #0288d1;}
  50%  {background-color: #29b6f6;}
  100% {background-color: #90caf9;}
}

@keyframes bubble-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    transform: scale(1);
  }
}

@keyframes stage-linear {
  100% {
    transform: translateY(calc(100vh - 120px));
  }
}

@keyframes stage2-linear {
  100% {
    transform: translateY(calc(-100vh - 120px));
  }
}

@keyframes bubble-linear {
  100% {
    transform: translateX(calc(100vw - 120px));
  }
}

@keyframes bubble2-linear {
  100% {
    transform: translateX(calc(-100vw - 120px));
  }
}
