body {
  align-content: center;
  animation-name: background;
  /* animation-delay: 2s; */
  animation-duration: 20s;
  background-color: #90caf9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: fixed;
  top: 50px;
  left: 50px;
}

.container {
  display: flex;
  flex-direction: column;
}

.link-item {
  /* animation-name: link; */
  align-items: center;
  align-self: flex-end;
  background: radial-gradient(circle at 50px 50px, #29b6f6, #0d47a1);
  background-color: #0d47a1;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 120px;
  justify-content: center;
  /* max-width: fit-content; */
  margin: 2%;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  width: 120px;
}

.name {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .name {
    animation: name-spin 1 5s linear;
  }
}

@keyframes name-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* TODO: add more percent transitions for smoother gradient */
@keyframes background {
  0%   {background-color: #0d47a1;}
  25%  {background-color: #0288d1;}
  50%  {background-color: #29b6f6;}
  100% {background-color: #90caf9;}
}

@keyframes link {
  0%   {color: #90caf9;}
  25%  {color: #29b6f6;}
  50%  {color: #0288d1;}
  100% {color: #0d47a1;}
}
