:root {
  --width: 100px;
}

body {
  align-content: center;
  background-color: '#E2FEEF';
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  margin-top: 15vh;
  max-width: max-content;
  max-height: max-content;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.bubble {
  align-items: center;
  background: radial-gradient(circle at 30px 50px, #d3f5d5, #8df295);
  border-radius: 50%;
  box-shadow: 10px 10px rgba(106, 83, 83, 0.2);
  display: flex;
  height: var(--width);
  justify-content: center;
  margin: .5em;
  padding: 2%;
  /* position: absolute; */
  text-align: center;
  /* transition: transform 1s; */
  width: var(--width);
}

@media (prefers-reduced-motion: no-preference) {
  .name {
    animation: name-spin 1 5s linear;
  }
}

@keyframes name-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes name-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* @keyframes background {
  0%   {background-color: #0d47a1;}
  25%  {background-color: #0288d1;}
  50%  {background-color: #29b6f6;}
  100% {background-color: #90caf9;}
}

@-webkit-keyframes background {
  0%   {background-color: #0d47a1;}
  25%  {background-color: #0288d1;}
  50%  {background-color: #29b6f6;}
  100% {background-color: #90caf9;}
} */
